  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
  *{
    font-family: 'Roboto Slab', serif;
  }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  font-weight:800;

  -moz-appearance: textfield;
}
.message{
  font-size: 24px;
  margin: 12px 0px;
}
.startDice{
  border: 1px solid gray;
  border-radius: 50%;
}
.addDice{
  font-weight:800;
  padding: 15px;
  border: 1px solid rgb(104, 93, 93);
  border-radius: 50%;
  box-shadow: none;
  margin: 12px;
}
.addDice:hover{  
    background-color: #555555;
    color: white;
}
.addDice:active{
  color:rgb(1, 1, 15);
}
.dicesInputContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 30%;
  min-width: 300px;
  padding: 15px;
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
  border: solid 3px rgb(104, 93, 93);
  border-radius: 2%;
}
.currentDice{
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight:800;
  width: 15%;
  min-width: 100px;
  min-height: 50px;
  padding: 15px;
  margin: auto;
  background-color: white;
  margin-bottom: 5%;
  border: solid 3px rgb(104, 93, 93);
  border-radius: 2%;
}
.modifier{
  font-weight:800;
  padding: 10px;
  border: 1px solid rgb(104, 93, 93);
  border-radius: 100%;
  box-shadow: none;
  margin: 12px;
}
img{
  width: 100%;
  height: 100%;
}
.imageValueContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.numberOfSidesContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberOfDice, .numberOfModifier{
    width: 60px;
    height: 30px;
    padding: 3px;
    text-align: center;
}
.numberOfModifier{
  width: 40px;
}
.valueDice{
  text-align: center;
}
.numberOfSides{
    width: 40px;
    height: 30px;
    padding: 3px;
    text-align: center;
}
.questionContainer{
  display:flex;
  gap: 30px;
}
.messageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgb(29, 3, 3), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(4, 4, 26);
}

body {
  background: url('./assets/diceBackground.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  